.products {
  columns: 5 320px;
  column-gap: 25px;
  margin-block: 30px;

  .product {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 20px;
    border-radius: 5px;
    background: #f7f7f7;
    overflow: hidden;

    .img-wrapper {
      overflow: hidden;

      > img {
        &:hover,
        &:focus {
          scale: 1.2;
          transition: scale 500ms;
        }
      }
    }

    &__desc {
      text-decoration: none;
      color: #000;
      font-size: 15px;
    }

    &__rating {
      display: flex;
      align-items: center;
    }

    &__price {
      text-decoration: none;

      .rupee-symbol {
        padding-top: 4px;
        font-size: 12px;
        float: left;
      }

      .actual-price {
        font-size: 28px;
        color: #000;
      }

      > div {
        color: #565959;
        font-size: 14px;

        > del {
          margin-inline: 5px;
        }

        > span {
          color: #0f1111;
        }
      }
    }
  }
}
