.products {
  columns: 1;

  @media screen and (min-width: 576px) {
  }

  @media screen and (min-width: 576px) {
    columns: 2;
    column-gap: 25px;
  }

  @media screen and (min-width: 992px) {
    columns: 3;
  }

  @media screen and (min-width: 1200px) {
    columns: 4;
  }

  @media screen and (min-width: 1400px) {
    columns: 5;
  }

  .product {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border-radius: 5px;
    margin-block: 16px;
    background: #f7f7f7;
    overflow: hidden;

    > .img-wrapper {
      overflow: hidden;

      > img {
        &:hover,
        &:focus {
          scale: 1.2;
          transition: scale 500ms;
        }
      }
    }

    &__rating {
      display: flex;
      align-items: center;
    }

    &__price {
      .rupee-symbol {
        padding-top: 4px;
        font-size: 12px;
        float: left;
      }

      .actual-price {
        font-size: 28px;
      }

      > div {
        color: #565959;
        font-size: 14px;

        > del {
          margin-inline: 5px;
        }

        > span {
          color: #0f1111;
        }
      }
    }
  }
}
